body {
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
}


#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}


#titulo {
  text-align: center;
  color: lightgreen;
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 20px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

#adicionar-novo-processo {
  width: 700px;
  display: flex;
  justify-content: flex-start; 
  margin-bottom: 15px; 
}


#menu-ps {
  width: 700px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
